{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": ["prettier"],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint", "enforce-ids-in-jsx"],
	"rules": {
		"quotes": ["error", "single", { "allowTemplateLiterals": true, "avoidEscape": true }],
		"semi": ["error", "always"],
		"no-restricted-imports": ["error"],
		"curly": "error",
		"eol-last": "error",
		"no-bitwise": "error",
		"no-dupe-args": "error",
		"no-console": [
			"error",
			{
				"allow": ["error"]
			}
		],
		"prefer-const": "error",
		"no-empty": "error",
		"no-var": "error",
		"no-eval": "error",
		"no-trailing-spaces": "error",
		"no-fallthrough": "error",
		"no-multiple-empty-lines": "error",
		"max-depth": ["error", 3],
		"no-duplicate-case": "error",
		"comma-dangle": ["error", "never"],
		"complexity": ["error", 15],
		"brace-style": [
			"error",
			"1tbs",
			{
				"allowSingleLine": true
			}
		],
		
		"no-unreachable": "error",
		"no-unneeded-ternary": "error",
		"no-extra-semi": "error",
		"enforce-ids-in-jsx/missing-ids": 2,
		"enforce-ids-in-jsx/unique-ids": 2
	}
}
